<div class="center jumbotron">
  <h1>Welcome to the Importa</h1>

  <h2>
    Please import your Google Contacts!
  </h2>
  <h2>
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Page Size:") %>
    <%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
    <%= submit_tag("Enter") %>
  <% end %>
  </h2>
  <%= link_to "Import!", google_authenticate_path, class: "btn btn-lg btn-primary" %>
</div>
